
<% cache(['markdown-guide', Digest::MD5.hexdigest(MarkDown.mark_down)]) do %>
<div class="panel markdown panel-default">
  <div class="panel-body">
    <h1>Markdown 教程</h1>
    <div class="row">
      <div class="col-md-6">
        <pre><code><%= MarkDown.mark_down %></code></pre>
      </div>
      <div class="col-md-6">
        <%= to_markdown(MarkDown.mark_down)%>
      </div>
    </div>
  </div>
</div>
<% end %>
